<header class="page-header">
  <nav>
    <ul class="nav">
      <li class="nav-item">
        <img class="logo" src="zatsu_meshi.png">
      </li>
      <li class="nav-item">
        <%= link_to "登録",new_user_registration_path, class: "btn btn-primary" %>
      </li>
      <li class="nav-item">
        <%= link_to("ログイン", new_user_session_path) %>
      </li>
    </ul>
  </nav>

</header>

<headribbon class="head-ribbon">

</headribbon>


<main class="main-content">

</main>

<footer class="page-footer">

</footer>
