<header class="page-header">
  <nav>
    <ul class="navbar navbar-dark bg-info">
      <li class="nav-item">
        <img src="zatsu_meshi.png" alt="">
      </li>
      <li class="nav-item">
        <%= link_to "登録",new_user_registration_path, class: "btn btn-primary" %>
      </li>
      <li class="nav-item">
        <%= link_to "ログイン",new_user_session_path, class:"btn btn-primary" %>
      </li>
    </ul>
  </nav>

</header>

<headribbon class="head-ribbon">

</headribbon>


<main class="main-content">

</main>

<footer class="page-footer">

</footer>
