<header class="page-header">
  <div class="container">
    <div class="header-left">
      <img class="logo" src="zatsu_meshi.png">
    </div>
    <div class="header-right">
      <%= link_to("登録",new_user_registration_path) %>
    </div>
    <div class="header-right">
      <%= link_to("ログイン", new_user_session_path) %>
    </div>






  </div>


</header>

<headribbon class="head-ribbon">

</headribbon>


<main class="main-content">

</main>

<footer class="page-footer">

</footer>
