<header class="page-header">
  <div class="container">
    <div class="header-left">
      <img class="logo" src="zatsu_meshi.png">
    </div>
    <div class="header-right">
      <%= link_to("登録","/registrations") %>
    </div>
    <div class="header-right">
      <%= link_to(”ログイン","/sessions") %>
    </div>






  </div>


</header>

<headribbon class="head-ribbon">

</headribbon>


<main class="main-content">

</main>

<footer class="page-footer">

</footer>
