body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
  color: #111111;
  background-color: #fff;
  background-image: linear-gradient(
      transparent 79px,
      #abced4 79px,
      #abced4 81px,
      transparent 81px
    ),
    linear-gradient(#eee 0.1em, transparent 0.1em);
  background-size: 100% 1.2em;
}

a {
  color: #38678b !important;
  transition: color 0.3s !important;
  text-decoration: none !important;
  padding: 0 !important;
}

a:hover {
  color: #ff7043 !important;
}

a:visited {
  color: gray !important;
}

a:visited:hover {
  color: #ff7043 !important;
}

.button {
  border: solid 3px #333 !important;
  color: #fff !important;
  background: #26a69a !important;
}

.button.delete {
  color: #fff !important;
  padding: 1px 18px !important;
  background: red !important;
}

.button.delete:hover {
  color: #fff !important;
  padding: 1px 18px !important;
  background: red !important;
}

.navbar {
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.2);
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 4px;
}

.anker:active {
  color: #26a69a;
}

.container-fluid {
  padding-top: 60px;
}
